.questions_any
  -if users_questions.any?
    %h3 Your Questions

  %ul{:class=>"profile_questions"}
    - @users_questions.reverse.each do |question|
      = render '/questions/new_question', :question => question
