<div class="questions_any">
<% if users_questions.any? %>
  <h3>Your Questions</h3>
<% end %>

<div class="profile_questions">
  <% @users_questions.each do |question| %>
    <%= render partial: '/questions/new_question', :locals => {:question => question} %> 
  <% end %>
</div>
