<h3>Your Questions</h3>
<div class="profile_questions">
  <% users_questions.each do |question| %>
    <%= link_to question.title, question %> 
    <%= link_to "Edit", edit_question_path(question) %>
    <%= link_to "Delete", question_path(question), :method => :delete %>
    <br><br>
  <% end %>
</div>
