.voting_info
  .vote_count
    %span{:id=>"question-vote"}
      VOTES #{question.sum_votes}


  %span{:class=>"question-button-up"}
    = button_to "Upvote", question_upvote_path(question)

  %span{:class=>"question-button-down"}
    = button_to "Downvote", question_downvote_path(question)
