%h1 SF Overflow

= render "users/loginform"
= render "users/signup_form"

<iframe seamless src="http://mapsengine.google.com/map/view?mid=zYPZELugC5y0.kteJpst9-ta0" width="800" height="480"></iframe>

%ul{:class => "question_display"}
- @questions.each do |question|
  %li #{link_to question.title, question}


/ <h1> SF Overflow </h1>

/ <%= render "users/loginform" %>
/ <%= render "users/signup_form" %>

/ <ul class="question_display">
/   <% @questions.each do |question| %>
/     <li><p><%= link_to question.title, question %></p></li>
/   <% end %>
/ </ul>

