%h1 Move SF 

- if flash[:error]
  .error 
    %p= h flash[:error] 

#map-canvas{:style=>"width: 800px; height: 400px"}

%h3 Open Questions
%ul{:class => "question_display"}
- @questions.each do |question|
  %li #{link_to question.title, question}
