%h1 Move SF 


#map-canvas{:style=>"width: 800px; height: 400px"}


- if current_user
  %ul{:class => "question_display"}
  - @questions.each do |question|
    %li #{link_to question.title, question}
