<h1> SF Overflow </h1>

<%= render "users/loginform" %>
<%= render "users/signup_form" %>

<ul class="question_display">
  <% @questions.each do |question| %>
    <li><p><%= link_to question.title, question %></p></li>
  <% end %>
</ul>

