= render 'question_voting', :question => @question
= render 'question_info', :question => @question
= render '/answers/answer_form', :answer => @answer, :answerable => @question, :question => @question
= render '/answers/display_all_answers', :answers => @answers, :question => @question

