<div class="login_form">
  <%= form_tag session_path, :method => 'post' do %>
    <%= h text_field_tag :name, nil, :placeholder => "username" %><br>
    <%= h password_field_tag :name, nil, :placeholder => "password" %><br>
    <%= submit_tag("Submit") %>
  <% end %>
</div>


