a {
  text-decoration: none;
  &:visited{
    // color: blue;
}
}

nav {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-family: sans-serif;

  ul {
    float: right;
    padding: 0;
    width: 400px;
    margin-top: 12px;
    margin-bottom: 0;
    li {
      display: inline;
      a {
        color: black;
        padding-left: 15px;
        font-family: sans-serif;
        &:hover {
          color: gray;
        }
      }
    }
  }
}

h1 {
  font-family: sans-serif;
  margin-bottom: 60px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-family: sans-serif;
}

.login_form {
  padding-bottom: 0;
  font-family: sans-serif;
  border-radius: 5px;
  display: inline;
  input {
    display: inline;
  }
}

.login_form img{
  width: 170px;
}

.signup_form {
  background-color: #cccccc;
  width: 170px;
  padding: 4px;
  font-family: sans-serif;
  display: none;
  border-radius: 5px;
  float: right;
}

.profile_questions {

}

.question_display {
  float: left;
  width: 300px;
  margin: 0px;
  padding: 0px;
}

.submit_question {
  margin-top: 30px;
  background-color: green;
  width: 134px;
  padding: 5px;
  border-radius: 5px;
  &:hover {
    background-color: darkgreen;
    a {
      color: white;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}


.question_form {
  padding-top: 0px;
  clear: both;
}

.new_question_form {
  margin-top: 20px;
  padding: 10px;
  background-color: lightblue;
  width: 225px;
  display: none;
  border-radius: 5px;
}

.vote_count {
  background-color: orange;
  width: 53px;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  font-family: 'Candal', sans-serif;
}


/**{
  border: 1px solid gray;
}
*/

