
nav {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-family: sans-serif;
}

nav ul li {
  float: right;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding-left: 15px;
  font-family: sans-serif;
}

nav ul li a:hover {
  text-decoration: none;
  color: gray;
}



h1 {
  font-family: sans-serif;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-family: sans-serif;
}

.login_form {
  float: right;
  background-color: #cccccc;
  width: 220px;
  padding: 20px;
  padding-bottom: 0;
  font-family: sans-serif;
  display: none;
  border-radius: 5px;
}

.signup_form {
  float: right;
  background-color: #cccccc;
  width: 220px;
  padding: 20px;
  padding-bottom: 0;
  font-family: sans-serif;
  display: none;
  border-radius: 5px;
}

.profile_questions {

}

.question_display {
  float: left;
  width: 300px;
  margin: 0px;
  padding: 0px;
}

.submit_question {
  margin-top: 30px;
  background-color: green;
  width: 134px;
  padding: 5px;
  border-radius: 5px;
}

.submit_question:hover {
  background-color: darkgreen;
}


.question_form {
  padding-top: 0px;
  clear: both;
}

.submit_question a {
  color: white;
  text-decoration: none;
}

.submit_question a:hover {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

.new_question_form {
  margin-top: 20px;
  padding: 10px;
  background-color: lightblue;
  width: 225px;
  display: none;
  border-radius: 5px;
}

.vote_count {
  background-color: orange;
  width: 53px;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  font-family: 'Candal', sans-serif;
}


/**{
  border: 1px solid gray;
}
*/

